@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body{
    padding: 0;
    margin: 0;
    background-color: rgb(240, 240, 240);
    font-family: 'Poppins', sans-serif;
}

.contenedor_general{
    display: grid;
    grid-template-columns:15% 85%;
    width: 100%;
    height: auto;
}

.contenido{
    grid-column: 2/3;
    height: 100vh;
}

.cabecera{
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: #fff;
    width: 100%;
    height: 60px;
    box-shadow: 0 0 4px 0;
}

.cabecera>span{
    margin-right: 15px;
    color: #6c757d;
    font-size: 15px;
}

.cabecera>i{
    color: #6c757d;
    font-size: 30px;
    margin-right: 30px;
}

.barra_menu{
    position: fixed;
    background-color: #000000;
    width: 15%;
    height: 100%;
    color: white;
}

.encabezado{
    display: flex;
    align-items: center;
    margin-top: 5px;
    width: 100%; 
    height: 55px;
}

.encabezado>img{
    width: 35px;
    margin-left: 40px;
}

.encabezado>h1{
    color: #fffb00;
    font-size: 15px;
    font-family: 'Libre Franklin', sans-serif;
    margin-left: 20px;

}

.encabezado>h1>label{
    color: #000000;
    text-shadow: 1px 1px 0 #fffb00,-1px 1px 0 #fffb00,1px -1px 0 #fffb00,-1px -1px 0 #fffb00;
}

.opciones_menu{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.opcion{
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 25px;
    font-size: 15px;
}

.opcion>i{
    margin-right: 15px;
    color: #fff;
}

.opcion>a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    width: 100%;
    height: 100%;
}

.opcion:hover{
    background-color: #282727;
    cursor: pointer;
    font-size: 16px;
}

.boton_salir{
    display: flex;
    justify-content: left;
    width: 60px;
    height: 60px;
    text-align: left;
    height: 100%;
    background-color: #dc3545;
}

.boton_salir>a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    width: 80px;
    height: 100%;
    font-size: 23px;
}

.boton_salir>a:hover{
    background-color: #df6e7a;
}

.contenido-modulo{ 
    margin: 0 auto;
    background-color: #fff;
    margin-top: 30px;
    width: 95%;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    /* overflow-x: hidden; */
}


